


<table>
    <tr>
        <th>name</th>
{{name}}
        <th>Description</th>
        <th>Start date</th>
        <th>End Date</th>
        <th>Is Billable</th>
        <th>Is Active</th>
        <th>Created</th>
        <th>Add</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="x in project_json">
        <td>{{x.title}}</td>
        <td>{{x.description}}</td>
        <td>{{x.start_date}}</td>
        <td>{{x.end_date}}</td>
         <td>{{x.is_billable}}</td>
        <td>{{x.is_active}}</td>
        <td>{{x.start_date}}</td>

         <td><a class="btn btn-success">Add</a></td>
        <td><a class="btn btn-primary">Edit</a></td>
        <td><a class="btn btn-danger">Delete</a></td>
    </tr>
</table>





